[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==21.9b0"
flake8 = "~=4.0.1"
isort = "~=5.9.3"

[packages]
pymp4 = {editable = true, path = "."}

[requires]
python_version = "3"
